.container {
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.heading {
    padding: 25px;
    text-align: center;
}

.heading > a {
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.heading > a:hover {
    color: grey;
}

.messages {
    border-top: 1px solid #ccc;
    flex: 1;
    padding: 25px 0;
    overflow-y: auto;
    margin-bottom: 40px;
}

.message {
    margin: 40px 0;
}

.message:first-child {
    margin-top: 0;
}

.message:last-child {
    margin-bottom: 0;
}

.delete {
    margin-left: 50px;
    font-size: 12px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.delete:hover {
    color: rgb(124, 69, 69);
}

.text {
    margin-left: 50px;
    font-size: 14px;
}
