.input-box {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 25px;
    transition: 0.1s;
    padding: 5px;
}

.input-box:hover {
    box-shadow: 0 0 3px grey;
}

.error {
    color: red;
    margin: 10px 0;
}

.input {
    flex: 1;
    border: none;
    padding: 7px;
    background-color: inherit;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.input:focus {
    outline: none;
}

.submit {
    font-size: 20px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.1s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.submit:hover {
    color: grey;
    scale: 1.1;
}
