.container {
    margin: 50px 0;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}

.content {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.text {
    font-weight: 500;
}

.photo {
    max-height: 300px;
    max-width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.date {
    margin-top: 5px;
    font-size: 12px;
}

.delete,
.edit {
    cursor: pointer;
    padding: 6px;
    border: none;
    background-color: inherit;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
    border-radius: 5px;
}

.delete:hover,
.edit:hover {
    background-color: #ccc;
}

.like-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.like {
    font-size: 30px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.2s;
    color: red;
}

.like:hover {
    color: rgb(255, 123, 123);
}

.comments-button {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 15px;
    transition: 0.1s;
    border-radius: 5px;
}
