.image-picker-wrapper {
    margin: 15px 0;
}

.error {
    margin: 10px 0;
    color: red;
}

.submit {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}
