.container {
    max-width: 600px;
    margin: 50px auto;
}

.header {
    text-align: center;
}

.header > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 133, 133);
    color: white;
    font-weight: bold;
}

.user-name {
    margin-bottom: 30px;
}

.association {
    text-align: center;
    margin: 30px 0;
}

.assoc-button {
    background-color: rgb(240, 240, 240);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.1s;
}

.assoc-button:hover {
    background-color: rgb(225, 225, 225);
}

.chat {
    color: rgb(38, 45, 58);
    font-weight: 600;
    text-decoration: none;
}

.chat:hover {
    color: blueviolet;
    text-decoration: underline;
}

.friend {
    margin: 15px 0;
}

.feed {
    margin-top: 50px;
}
