.container {
    display: inline-flex;
    align-items: center;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 133, 133);
    color: white;
    font-weight: bold;
}

.link {
    text-decoration: none;
    font-weight: 500;
    color: rgb(56, 56, 56);
}

.link:hover {
    color: rgb(82, 82, 82);
}
