.container {
    max-width: 600px;
    margin: 50px auto;
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.user-box > button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}

.no-users {
    text-align: center;
    margin-top: 50px;
}
