.container {
    max-width: 600px;
    margin: 50px auto;
}

.header {
    text-align: center;
}

.header > img {
    border-radius: 50%;
}

.user-name {
    margin-bottom: 30px;
}

.association {
    text-align: center;
    margin: 30px 0;
}

.assoc-button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.1s;
}

.chat {
    color: rgb(38, 45, 58);
    font-weight: 600;
    text-decoration: none;
}

.chat:hover {
    color: blueviolet;
    text-decoration: underline;
}

.friend {
    margin: 15px 0;
}

.feed {
    margin-top: 50px;
}
