.container {
    max-width: 600px;
    margin: 50px auto;
}

.user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.user-box:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.user-box > button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
    width: 100%;
}

.no-invites {
    text-align: center;
    margin-top: 50px;
}
