body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 0;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
